$main-c1:#676e57;
$main-c2:#9e9f88;
$main-c3:#b2b09f;
$main-c4:#f4e3cf;
$main-c5:#d6b7a3;
.new-view{
    background-color: grey;
    max-width: 90%;

.new-view-header{
    display:inline-block;
    font-size: 1.5rem;
    background-color:$main-c2;
    border-style: solid;
    border-width: 2px;
    border-color: black;
 
    .new-view-header-title{
        font-weight: 700;
        color:rgb(7, 6, 6);
    }
    .new-view-heaer-date{
        float:left;
        text-align: left;
        
    }
    .new-view-header-archive{
        float: right;
        text-align: right;
    }
}
.new-view-body{
    color:black;
    font-size: 1rem;
    background-color:$main-c1;
}
.new-view-footer{
    text-align: right;
    font-size: 0.4rem;
    background-color:$main-c3;
    .new-view-footer-abstract{
        text-align: left;
        float:left;
    }
}

}